.Header {
  //background-color: $color-red;
  //background-color: white;
  border-bottom: 1px solid #ddd;
  height: 70px;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-logo {
    display: flex;
    align-items: center;
    &-logo {
      width: $finger-size;
      @include mq("tablet") {
        width: 50px;
      }
      img {
        width: 80%;
      }
    }
    &-metin {
      width: 150px;
      @include mq("tablet") {
        width: 180px;
      }
      margin-left: -10px;
      img {
        width: 100%;
      }
    }
  }

  &-lang-mobile {
    display: flex;
    margin-left: auto;
    @include mq("tablet") {
      display: none;
    }
  }

  &-switch {
    left: 10px;
    position: relative;
    margin-top: .3%;
    //margin-left: auto;
    background-color: transparent;
    width: $finger-size;
    padding: 5px;

    @include mq("tablet") {
      display: none;
    }
  }

  &-menu {
    pointer-events: none;
    transform: translateX(100%);
    transition: 0.3s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-left: $gutter;
    padding-right: $gutter;
    box-shadow: 0 20px 30px rgba($color: #000000, $alpha: 0.2);

    .Header.menu-show & {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
    }

    @include mq("tablet") {
      pointer-events: auto;
      transform: translateX(0);
      transition: 0s;
      opacity: 1;
      margin-left: auto;
      align-items: center;
      flex-direction: row;
      position: static;
      box-shadow: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }

    &-pages {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mq("tablet") {
        flex-direction: row;
      }

      a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-left: $gutter;
        padding-right: $gutter;
        height: $finger-size;
        //color: white;
        color: $color-blue;
        font-weight: bold;

        @include mq("tablet") {
          width: 120px;
        }
        &:hover {
          background-color: $color-light-blue;
          border-radius: $border-radius;
        }
      }
    }

    &-lang {
      display: none;

      @include mq("tablet") {
        margin-top: 10px;
        display: flex;
        padding-right: 10px;
        padding-left: 10px;
        justify-content: center;
        padding-bottom: 10px;
      }

      &-tr {
        margin-right: 15px;
        @include mq("tablet") {
          margin-right: 10px;
        }
      }

      &-tr,
      &-uk {
        width: 24px;
        height: 24px;
        background-color: transparent;
        @include mq("tablet") {
          width: 24px;
          height: 24px;
          background-color: transparent;
        }
      }
    }
  }
}
