extends ../global/masterpage_en.pug
block content
    h1.page_title About Us
    h2.page_title_mobile About Us
    .hakkimizda
        .hakkimizda-vm
            .hakkimizda-vm-vizyon
                h2.vm Vision
                p.vm We will go into action to provide students at Ibn Haldun University with courses, seminars, and sessions that these courses will benefit their education life.  Our aim is to benefit our friends with the trainings which we will do on the most demanding and popular topics of our time.
            .hakkimizda-vm-misyon
                h2.vm Mission
                p.vm Our trainings are aimed at both transferring experience and improving the productivity of our friends. Trainings will be both online and face-to-face.  We ensure that our trainings' productivity and effectiveness will be at high level no matter training will be online or face-to-face.
            .hakkimizda-vm-yonetim 
                h2.vmy Board of Management  
                .button_container
                    .button_container-1
                        .button_container-1-btn1
                            button.button_container-1-btn1-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/muradahmadzada','_blank')")
                .hakkimizda-vm-yonetim-cont1
                    .hakkimizda-vm-yonetim-cont1-1
                        h4.vm President:
                        p Murad AHMADZADA
                    .hakkimizda-vm-yonetim-cont1-link
                        .hakkimizda-vm-yonetim-cont1-link-1
                            img(src='../../../src/img/card1.png')
                            a(href="mailto:murad.ahmadzada@ibnhaldun.edu.tr") murad.ahmadzada@ibnhaldun.edu.tr
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ahmetakifkasim','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/abdulrahman-alkoli-67859814b','_blank')")
                .hakkimizda-vm-yonetim-cont2
                    .hakkimizda-vm-yonetim-cont2-2
                        h4.vm Vice President:
                        p Ahmet Akif KASIM 
                    .hakkimizda-vm-yonetim-cont2-3
                        h4.vm 2nd Vice President:
                        p Abdurrahman ALKOLİ  
                .hakkimizda-vm-yonetim-cont2-link
                    .hakkimizda-vm-yonetim-cont2-link-2
                        img(src='../../../src/img/card2.png')                    
                        a(href="mailto:akif.kasim@ibnhaldun.edu.tr") akif.kasim@ibnhaldun.edu.tr
                    .hakkimizda-vm-yonetim-cont2-link-3
                        img(src='../../../src/img/card3.png')  
                        a(href="mailto:abdulrahman.alkoli@ibnhaldun.edu.tr") abdulrahman.alkoli@ibnhaldun.edu.tr
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ömer-faruk-erenbaş-4954901b7','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/cengiz-gökmen-b7069a1a0','_blank')")
                .hakkimizda-vm-yonetim-cont3
                    .hakkimizda-vm-yonetim-cont3-4
                        h4.vm Accountant:
                        p Ömer Faruk ERENBAŞ
                    .hakkimizda-vm-yonetim-cont3-5
                        h4.vm Secretary:
                        p Cengiz GÖKMEN
                .hakkimizda-vm-yonetim-cont3-link
                    .hakkimizda-vm-yonetim-cont3-link-4
                        img(src='../../../src/img/card4.png')                       
                        a(href="mailto:omer.erenbas@ibnhaldun.edu.tr") omer.erenbas@ibnhaldun.edu.tr                              
                    .hakkimizda-vm-yonetim-cont3-link-5
                        img(src='../../../src/img/card5.png')           
                        a(href="mailto:cengiz.gokmen@ibnhaldun.edu.tr") cengiz.gokmen@ibnhaldun.edu.tr
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/abdussamed-çetin-03625b19b','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in//ayşe-müberra-bozaba-aa6486182','_blank')")
                .hakkimizda-vm-yonetim-cont4
                    .hakkimizda-vm-yonetim-cont4-6
                        h4.vm-dnt Supervisory Board Member:
                        p A. ÇETİN
                    .hakkimizda-vm-yonetim-cont4-7
                        h4.vm Reserve Member:
                        p Ayşe Müberra BOZABA
                .hakkimizda-vm-yonetim-cont4-link
                    .hakkimizda-vm-yonetim-cont4-link-6
                        img(src='../../../src/img/card6.png') 
                        a(href="mailto:abdussamed.cetin@ibnhaldun.edu.tr") abdussamed.cetin@ibnhaldun.edu.tr                        
                    .hakkimizda-vm-yonetim-cont4-link-7
                        img(src='../../../src/img/card7.png')                    
                        a(href="mailto:muberra.bozaba@ibnhaldun.edu.tr") muberra.bozaba@ibnhaldun.edu.tr