extends ../global/masterpage.pug
block content
    h1.page_title Blog
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
