extends ../global/masterpage.pug
block content
    h1.page_title Etkinlikler
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
