extends ../global/masterpage.pug
block content
    h1.page_title Etkinlikler
    h2.page_title_mobile Etkinlikler
    .etkinlikler
        //- h2 Çok yakında!
        .etkinlikler-boxes
            .etkinlikler-boxes-1
                .etkinlikler-boxes-1-box1
                    .etkinlikler-boxes-1-box1-img
                        img(src="../../img/borsa.jpg", alt="")
                    .etkinlikler-boxes-1-box1-text
                        h4 Borsa Nedir? Borsada Temel ve Teknik Analiz Eğitimi
                        p Kasım 2020
                .etkinlikler-boxes-1-box2
                    .etkinlikler-boxes-1-box2-img
                        img(src="../../img/marketing.jpg", alt="")
                    .etkinlikler-boxes-1-box2-text
                        h4 Digital Marketing
                        p Aralık 2020
            .etkinlikler-boxes-2
                .etkinlikler-boxes-2-box1
                    .etkinlikler-boxes-2-box1-img
                        img(src="../../img/blockchain.jpg", alt="")
                    .etkinlikler-boxes-2-box1-text
                        h4 Dijital Varlıklar ve Blockchain
                        p Şubat 2021
                .etkinlikler-boxes-2-box2
                    .etkinlikler-boxes-2-box2-img
                        img(src="../../img/ekodiyalog.jpg", alt="")
                    .etkinlikler-boxes-2-box2-text
                        h4 Ekodiyalog
                        p 2. Dönem