extends ../global/masterpage.pug
block content
    h1.page_title Etkinlikler
    h2.page_title_mobile Etkinlikler
    .etkinlikler
        //- h2 Çok yakında!
        .etkinlikler-boxes
            .etkinlikler-boxes-1
                .etkinlikler-boxes-1-box1
                    .etkinlikler-boxes-1-box1-img
                        img(src="../../img/habitat1.jpeg", alt="")
                    .etkinlikler-boxes-1-box1-text
                        h2 Paramı Yönetebiliyorum
                        //- p 8 Aralık 2020 - 16.00 &nbsp;
                            a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                .etkinlikler-boxes-1-box2
                    .etkinlikler-boxes-1-box2-img
                        //- p 1.Program:
                        p 
                            strong 1. Program: 
                            | Bireyler için Finansal Okuryazarlık (Habitat Derneği, Paramı Yönetebiliyorum Projesi)
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 8 Aralık 2020 - 16.00 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-1-box2-img-button(onclick=" window.open('https://forms.gle/nBXhcybGU33vNF2s9','_blank')") Başvur
                        
                                        
            .etkinlikler-boxes-2
                .etkinlikler-boxes-2-box1
                    .etkinlikler-boxes-2-box1-img
                        img(src="../../img/islamic_finance.png", alt="")
                    .etkinlikler-boxes-2-box1-text
                        h2 İslam Ekonomisi ve Finansı Serileri
                        //- p 23 Aralık 2020 - 16.00
                .etkinlikler-boxes-2-box3
                    .etkinlikler-boxes-2-box3-img
                        p 
                            strong 1. Program: 
                            | İslam Ekonomisi Nedir? - Mehmet Fatih Serenli
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 31 Aralık 2020 - 20.00 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-2-box3-img-button(onclick=" window.open('https://forms.gle/KFVihYpwbtG6f2eK9','_blank')") Başvur

                        p 
                            strong 2. Program: 
                            | İçeriği henüz planlanmadı.
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 24 Şubat 2021 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-2-box3-img-button(onclick=" window.open('https://forms.gle/3MqT5uVt2g6ye6S77','_blank')") Başvur

                        p 
                            strong 3. Program: 
                            | İçeriği henüz planlanmadı. - Prof. Dr. Mohamad Lutfi HAMMOUR
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 23 Mart 2021 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-2-box3-img-button(onclick=" window.open('https://forms.gle/ACd66fgfpdztkeEh6','_blank')") Başvur



            .etkinlikler-boxes-2
                .etkinlikler-boxes-2-box1
                    .etkinlikler-boxes-2-box1-img
                        img(src="../../img/borsa.jpg", alt="")
                    .etkinlikler-boxes-2-box1-text
                        h2 Yatırım Serileri
                        //- p 23 Aralık 2020 - 16.00
                .etkinlikler-boxes-2-box3
                    .etkinlikler-boxes-2-box3-img
                        p 
                            strong 1. Program: 
                            | BORSA101 - Prof. Dr. Mustafa Kemal YILMAZ
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 5 Ocak 2021 - 20.00 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-2-box3-img-button(onclick=" window.open('https://forms.gle/P4k3WvEnoKa5s5jh9','_blank')") Başvur

                        p 
                            strong 2. Program: 
                            | Yatırım Fonları
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 9 Mart 2021 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-2-box3-img-button(onclick=" window.open('https://forms.gle/zzy1fam7dJWZs1F86','_blank')") Başvur

                        p 
                            strong 3. Program: 
                            | Katılım Bankacılığında Yatırım - Prof. Dr. Mustafa Kemal YILMAZ
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 6 Nisan 2021 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-2-box3-img-button(onclick=" window.open('https://forms.gle/seQRRsK1tpF7p6e38','_blank')") Başvur

            .etkinlikler-boxes-2
                .etkinlikler-boxes-2-box1
                    .etkinlikler-boxes-2-box1-img
                        img(src="../../img/blockchain.jpg", alt="")
                    .etkinlikler-boxes-2-box1-text
                        h2 Blockchain Serileri
                        //- p 23 Aralık 2020 - 16.00
                .etkinlikler-boxes-2-box2
                    .etkinlikler-boxes-2-box2-img
                        p 
                            strong 1. Program: 
                            | Kripto Paralar ve Kripto Borsa Nasıl Çalışıyor? - Dr. Ahmet KAPLAN
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 13 Nisan 2021 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-2-box3-img-button(onclick=" window.open('https://forms.gle/iHWctYgH4pu8spH67','_blank')") Başvur

                        p 
                            strong 2. Program: 
                            | Kripto Ticaret - Dr. Ahmet KAPLAN
                        //- p Tarih: 08.12.2020 16:00 
                        p 
                            strong Tarih: 
                            | 27 Nisan 2021 &nbsp;
                            //- a#basvur_etkinlikler(href="https://forms.gle/nBXhcybGU33vNF2s9" target="_blank") Başvur
                        button.etkinlikler-boxes-2-box3-img-button(onclick=" window.open('https://forms.gle/fAp6JkJrH9oTcsn36','_blank')") Başvur

    