extends ../global/masterpage_en.pug
block content
    h1.page_title Events
    h2.page_title_mobile Events
    .etkinlikler
        //- h2 Çok yakında!
        .etkinlikler-boxes
            .etkinlikler-boxes-1
                .etkinlikler-boxes-1-box1
                    .etkinlikler-boxes-1-box1-img
                        img(src="../../img/borsa.jpg", alt="")
                    .etkinlikler-boxes-1-box1-text
                        h4 What is the Stock Market? Basic and Technical Analysis Training in Stock Exchange
                        p November 2020
                .etkinlikler-boxes-1-box2
                    .etkinlikler-boxes-1-box2-img
                        img(src="../../img/marketing.jpg", alt="")
                    .etkinlikler-boxes-1-box2-text
                        h4 Digital Marketing
                        p December 2020
            .etkinlikler-boxes-2
                .etkinlikler-boxes-2-box1
                    .etkinlikler-boxes-2-box1-img
                        img(src="../../img/blockchain.jpg", alt="")
                    .etkinlikler-boxes-2-box1-text
                        h4 Digital Wealthies and Blockchain
                        p February 2021
                .etkinlikler-boxes-2-box2
                    .etkinlikler-boxes-2-box2-img
                        img(src="../../img/ekodiyalog.jpg", alt="")
                    .etkinlikler-boxes-2-box2-text
                        h4 Ecodialog
                        p 2nd Semester