extends ../global/masterpage.pug
block content
    h1.page_title Hakkımızda
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;