extends ../global/masterpage.pug
block content
    h1.page_title Hakkımızda
    .hakkimizda
        .hakkimizda-vm
            .hakkimizda-vm-vizyon
                h2.vm Vizyon
                p.vm İbn Haldun Üniversitesi’ndeki öğrenci arkadaşlarımıza eğitim hayatlarında fayda sağlayacak kursları, seminerleri, oturumları temin etmek amacıyla faaliyete geçeceğiz. İhtiyaç gerektiren ve dönemimizin en çok ilgi gören konuları üzerinde yapacağımız eğitimlerle arkadaşlarımıza fayda sağlamak amacındayız.
            .hakkimizda-vm-misyon
                h2.vm Misyon
                p.vm Eğitimlerimizin hem tecrübe aktarımı hem de arkadaşlarımızın üretkenliğini geliştirme hedefinde olmasını sağlayacağız.
            .hakkimizda-vm-yonetim 
                h2.vm Yönetim Kurulu
                h4.vm Başkan:
                p Murad AHMADZADA
                br
                h4.vm Başkan Yardımcısı:
                p Ahmet Akif KASIM
                br
                h4.vm Başkan Yardımcısı:
                p Abdurrahman ALKOLİ
                br
                h4.vm Sayman:
                p Ömer Faruk ERENBAŞ
                br
                h4.vm Yazman:
                p Cengiz GÖKMEN
                br
                h4.vm Yedek Üye:
                p Abdussamet ÇETİN
                br
                h4.vm Denetleme Kurulu Üyesi:
                p Ayşe Müberra BOZABA
                br
                h4.vm İkinci Denetleme Kurulu Üyesi:
                p Mohamed Amin MUSA
                