extends ../global/masterpage.pug
block content
    h1.page_title Hakkımızda
    h2.page_title_mobile Hakkımızda
    .hakkimizda
        .hakkimizda-vm
            .hakkimizda-vm-vizyon
                h2.vm Vizyon
                p.vm İbn Haldun Üniversitesi’ndeki öğrenci arkadaşlarımıza eğitim hayatlarında fayda sağlayacak kursları, seminerleri, oturumları temin etmek amacıyla faaliyete geçeceğiz. İhtiyaç gerektiren ve dönemimizin en çok ilgi gören konuları üzerinde yapacağımız eğitimlerle arkadaşlarımıza fayda sağlamak amacındayız.
            .hakkimizda-vm-misyon
                h2.vm Misyon
                p.vm Eğitimlerimizin hem tecrübe aktarımı hem de arkadaşlarımızın üretkenliğini geliştirme hedefinde olmasını sağlayacağız.
            .hakkimizda-vm-yonetim 
                h2.vmy Yönetim Kurulu   
                .button_container
                    .button_container-1
                        .button_container-1-btn1
                            button.button_container-1-btn1-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/muradahmadzada','_blank')")
                .hakkimizda-vm-yonetim-cont1
                    .hakkimizda-vm-yonetim-cont1-1
                        h4.vm Başkan:
                        p Murad AHMADZADA
                    .hakkimizda-vm-yonetim-cont1-link
                        .hakkimizda-vm-yonetim-cont1-link-1
                            img(src='../../../src/img/card1.png')
                            a(href="mailto:murad.ahmadzada@ibnhaldun.edu.tr") murad.ahmadzada@ibnhaldun.edu.tr
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ahmetakifkasim','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/abdulrahman-alkoli-67859814b','_blank')")
                .hakkimizda-vm-yonetim-cont2
                    .hakkimizda-vm-yonetim-cont2-2
                        h4.vm Başkan Yardımcısı:
                        p Ahmet Akif KASIM 
                    .hakkimizda-vm-yonetim-cont2-3
                        h4.vm Başkan Yardımcısı:
                        p Abdurrahman ALKOLİ  
                .hakkimizda-vm-yonetim-cont2-link
                    .hakkimizda-vm-yonetim-cont2-link-2
                        img(src='../../../src/img/card2.png')                    
                        a(href="mailto:akif.kasim@ibnhaldun.edu.tr") akif.kasim@ibnhaldun.edu.tr
                    .hakkimizda-vm-yonetim-cont2-link-3
                        img(src='../../../src/img/card3.png')  
                        a(href="mailto:abdulrahman.alkoli@ibnhaldun.edu.tr") abdulrahman.alkoli@ibnhaldun.edu.tr
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ömer-faruk-erenbaş-4954901b7','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/cengiz-gökmen-b7069a1a0','_blank')")
                .hakkimizda-vm-yonetim-cont3
                    .hakkimizda-vm-yonetim-cont3-4
                        h4.vm Sayman:
                        p Ömer Faruk ERENBAŞ
                    .hakkimizda-vm-yonetim-cont3-5
                        h4.vm Yazman:
                        p Cengiz GÖKMEN
                .hakkimizda-vm-yonetim-cont3-link
                    .hakkimizda-vm-yonetim-cont3-link-4
                        img(src='../../../src/img/card4.png')                       
                        a(href="mailto:omer.erenbas@ibnhaldun.edu.tr") omer.erenbas@ibnhaldun.edu.tr                              
                    .hakkimizda-vm-yonetim-cont3-link-5
                        img(src='../../../src/img/card5.png')           
                        a(href="mailto:cengiz.gokmen@ibnhaldun.edu.tr") cengiz.gokmen@ibnhaldun.edu.tr
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/abdussamed-çetin-03625b19b','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in//ayşe-müberra-bozaba-aa6486182','_blank')")
                .hakkimizda-vm-yonetim-cont4
                    .hakkimizda-vm-yonetim-cont4-6
                        h4.vm Denetleme Kurulu Üyesi:
                        p Abdussamed ÇETİN
                    .hakkimizda-vm-yonetim-cont4-7
                        h4.vm Yedek Üye:
                        p Ayşe Müberra BOZABA
                .hakkimizda-vm-yonetim-cont4-link
                    .hakkimizda-vm-yonetim-cont4-link-6
                        img(src='../../../src/img/card6.png') 
                        a(href="mailto:abdussamed.cetin@ibnhaldun.edu.tr") abdussamed.cetin@ibnhaldun.edu.tr                        
                    .hakkimizda-vm-yonetim-cont4-link-7
                        img(src='../../../src/img/card7.png')                    
                        a(href="mailto:muberra.bozaba@ibnhaldun.edu.tr") muberra.bozaba@ibnhaldun.edu.tr