extends ../global/masterpage.pug
block content
    h1.page_title Hakkımızda
    .hakkimizda
        .hakkimizda-vm
            .hakkimizda-vm-vizyon
                h2.vm Vizyon
                p.vm İbn Haldun Üniversitesi’ndeki öğrenci arkadaşlarımıza eğitim hayatlarında fayda sağlayacak kursları, seminerleri, oturumları temin etmek amacıyla faaliyete geçeceğiz. İhtiyaç gerektiren ve dönemimizin en çok ilgi gören konuları üzerinde yapacağımız eğitimlerle arkadaşlarımıza fayda sağlamak amacındayız.
            .hakkimizda-vm-misyon
                h2.vm Misyon
                p.vm Eğitimlerimizin hem tecrübe aktarımı hem de arkadaşlarımızın üretkenliğini geliştirme hedefinde olmasını sağlayacağız.
            .hakkimizda-vm-yonetim 
                h2.vmy Yönetim Kurulu            
                .hakkimizda-vm-yonetim-cont1
                    .hakkimizda-vm-yonetim-cont1-1
                        h4.vm Başkan:
                        p Murad AHMADZADA
                .hakkimizda-vm-yonetim-link
                    .hakkimizda-vm-yonetim-link-1
                        .LI-profile-badge(data-version='v1', data-size='medium', data-locale='tr_TR', data-type='vertical', data-theme='dark', data-vanity='ahmetakifkasim')
                            a.LI-simple-link(href='https://tr.linkedin.com/in/ahmetakifkasim/tr-tr?trk=profile-badge') Ahmet Akif KASIM
                .hakkimizda-vm-yonetim-cont2
                    .hakkimizda-vm-yonetim-cont2-2
                        h4.vm Başkan Yardımcısı:
                        p Ahmet Akif KASIM 
                    .hakkimizda-vm-yonetim-cont2-3
                        h4.vm Başkan Yardımcısı:
                        p Abdurrahman ALKOLİ  
                .hakkimizda-vm-yonetim-link
                    .hakkimizda-vm-yonetim-link-2
                        .LI-profile-badge(data-version='v1', data-size='medium', data-locale='tr_TR', data-type='vertical', data-theme='dark', data-vanity='ahmetakifkasim')
                            a.LI-simple-link(href='https://tr.linkedin.com/in/ahmetakifkasim/tr-tr?trk=profile-badge') Ahmet Akif KASIM
                    .hakkimizda-vm-yonetim-link-3
                        .LI-profile-badge(data-version='v1', data-size='medium', data-locale='tr_TR', data-type='vertical', data-theme='dark', data-vanity='ahmetakifkasim')
                            a.LI-simple-link(href='https://tr.linkedin.com/in/ahmetakifkasim/tr-tr?trk=profile-badge') Ahmet Akif KASIM
                .hakkimizda-vm-yonetim-cont3
                    .hakkimizda-vm-yonetim-cont3-4
                        h4.vm Sayman:
                        p Ömer Faruk ERENBAŞ
                    .hakkimizda-vm-yonetim-cont3-5
                        h4.vm Yazman:
                        p Cengiz GÖKMEN
                .hakkimizda-vm-yonetim-link
                    .hakkimizda-vm-yonetim-link-4
                        .LI-profile-badge(data-version='v1', data-size='medium', data-locale='tr_TR', data-type='vertical', data-theme='dark', data-vanity='ahmetakifkasim')
                            a.LI-simple-link(href='https://tr.linkedin.com/in/ahmetakifkasim/tr-tr?trk=profile-badge') Ahmet Akif KASIM
                    .hakkimizda-vm-yonetim-link-5
                        .LI-profile-badge(data-version='v1', data-size='medium', data-locale='tr_TR', data-type='vertical', data-theme='dark', data-vanity='ahmetakifkasim')
                            a.LI-simple-link(href='https://tr.linkedin.com/in/ahmetakifkasim/tr-tr?trk=profile-badge') Ahmet Akif KASIM                    
                .hakkimizda-vm-yonetim-cont4
                    .hakkimizda-vm-yonetim-cont4-6
                        h4.vm Yedek Üye:
                        p Abdussamet ÇETİN
                    .hakkimizda-vm-yonetim-cont4-7
                        h4.vm Denetleme Kurulu Üyesi:
                        p Ayşe Müberra BOZABA
                .hakkimizda-vm-yonetim-link
                    .hakkimizda-vm-yonetim-link-6
                        .LI-profile-badge(data-version='v1', data-size='medium', data-locale='tr_TR', data-type='vertical', data-theme='dark', data-vanity='ahmetakifkasim')
                            a.LI-simple-link(href='https://tr.linkedin.com/in/ahmetakifkasim/tr-tr?trk=profile-badge') Ahmet Akif KASIM
                    .hakkimizda-vm-yonetim-link-7
                        .LI-profile-badge(data-version='v1', data-size='medium', data-locale='tr_TR', data-type='vertical', data-theme='dark', data-vanity='ahmetakifkasim')
                            a.LI-simple-link(href='https://tr.linkedin.com/in/ahmetakifkasim/tr-tr?trk=profile-badge') Ahmet Akif KASIM                            
            