extends ../global/masterpage.pug
block content
    h1.page_title Hakkımızda
    h2.page_title_mobile Hakkımızda
    .hakkimizda
        .hakkimizda-vm
            .hakkimizda-vm-vizyon
                h2.vm Vizyon
                p.vm İbn Haldun Üniversitesi’ndeki öğrenci arkadaşlarımıza eğitim hayatlarında fayda sağlayacak kursları, seminerleri, oturumları temin etmek amacıyla faaliyete geçeceğiz. İhtiyaç gerektiren ve dönemimizin en çok ilgi gören konuları üzerinde yapacağımız eğitimlerle arkadaşlarımıza fayda sağlamak amacındayız.
            .hakkimizda-vm-misyon
                h2.vm Misyon
                p.vm Eğitimlerimizin hem tecrübe aktarımı hem de arkadaşlarımızın üretkenliğini geliştirme hedefinde olmasını sağlayacağız.
            .hakkimizda-vm-yonetim 
                h2.vmy Yönetim Kurulu   
                .button_container
                    .button_container-1
                        .button_container-1-btn1
                            button.button_container-1-btn1-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/muradahmadzada','_blank')")
                .hakkimizda-vm-yonetim-cont1
                    .hakkimizda-vm-yonetim-cont1-1
                        h4.vm Başkan:
                        p Murad AHMADZADA
                    .hakkimizda-vm-yonetim-cont1-link
                        .hakkimizda-vm-yonetim-cont1-link-1
                            .hakkimizda-vm-yonetim-cont1-link-1-img
                                a(href="mailto:murad.ahmadzada@ibnhaldun.edu.tr") murad.ahmadzada@ibnhaldun.edu.tr
                            //- img(src='../../../src/img/card1.png')
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ahmetakifkasim','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/abdulrahman-alkoli-67859814b','_blank')")
                .hakkimizda-vm-yonetim-cont2
                    .hakkimizda-vm-yonetim-cont2-2
                        h4#bya1.vm Başkan Yardımcısı:
                        p Ahmet Akif KASIM 
                    .hakkimizda-vm-yonetim-cont2-3
                        h4#bya2.vm Başkan Yardımcısı:
                        p Abdurrahman ALKOLİ  
                .hakkimizda-vm-yonetim-cont2-link
                    .hakkimizda-vm-yonetim-cont2-link-2
                        .hakkimizda-vm-yonetim-cont2-link-2-img2
                            a(href="mailto:akif.kasim@ibnhaldun.edu.tr") akif.kasim@ibnhaldun.edu.tr
                        //- img(src='../../../src/img/card2.png')                    
                    .hakkimizda-vm-yonetim-cont2-link-3
                        .hakkimizda-vm-yonetim-cont2-link-3-img3
                            a(href="mailto:abdulrahman.alkoli@ibnhaldun.edu.tr") abdulrahman.alkoli@ibnhaldun.edu.tr
                        //- img(src='../../../src/img/card3.png')  
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ömer-faruk-erenbaş-4954901b7','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/cengiz-gökmen-b7069a1a0','_blank')")
                .hakkimizda-vm-yonetim-cont3
                    .hakkimizda-vm-yonetim-cont3-4
                        h4.vm Sayman:
                        p Ömer Faruk ERENBAŞ
                    .hakkimizda-vm-yonetim-cont3-5
                        h4.vm Yazman:
                        p Cengiz GÖKMEN
                .hakkimizda-vm-yonetim-cont3-link
                    .hakkimizda-vm-yonetim-cont3-link-4
                        .hakkimizda-vm-yonetim-cont3-link-4-img4
                            a(href="mailto:omer.erenbas@ibnhaldun.edu.tr") omer.erenbas@ibnhaldun.edu.tr                              
                        //- img(src='../../../src/img/card4.png')                       
                    .hakkimizda-vm-yonetim-cont3-link-5
                        .hakkimizda-vm-yonetim-cont3-link-5-img5
                            a(href="mailto:cengiz.gokmen@ibnhaldun.edu.tr") cengiz.gokmen@ibnhaldun.edu.tr
                        //- img(src='../../../src/img/card5.png')           
                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/abdussamed-çetin-03625b19b','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ertugrulgazicelik/','_blank')")
                .hakkimizda-vm-yonetim-cont4
                    .hakkimizda-vm-yonetim-cont4-6
                        h4.vm-dnt Denetleme Kurulu Üyesi:
                        h4#dku.vm-dnt_mobile Denetleme K. Üyesi:
                        p Abdussamed ÇETİN
                    .hakkimizda-vm-yonetim-cont4-7
                        h4.vm KİM Temsilcisi:
                        p Ertuğrul Gazi ÇELİK
                .hakkimizda-vm-yonetim-cont4-link
                    .hakkimizda-vm-yonetim-cont4-link-6
                        .hakkimizda-vm-yonetim-cont4-link-6-img6
                            a(href="mailto:abdussamed.cetin@ibnhaldun.edu.tr") abdussamed.cetin@ibnhaldun.edu.tr                        
                        //- img(src='../../../src/img/card6.png') 
                    .hakkimizda-vm-yonetim-cont4-link-7
                        .hakkimizda-vm-yonetim-cont4-link-7-img7
                            a(href="mailto:ertugrul.celik@ibnhaldun.edu.tr") ertugrul.celik@ibnhaldun.edu.tr
                        //- img(src='../../../src/img/card10.png')                    

                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ayşe-müberra-bozaba-aa6486182','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/muhammet-ibrahim-kulaçoğlu-6311811b7/','_blank')")
                .hakkimizda-vm-yonetim-cont4
                    .hakkimizda-vm-yonetim-cont4-6
                        h4.vm-dnt Asil Üye:
                        h4.vm-dnt_mobile Asil Üye:
                        p Ayşe Müberra BOZABA
                    .hakkimizda-vm-yonetim-cont4-7
                        h4.vm Asil Üye:
                        p M. İbrahim KULAÇOĞLU
                .hakkimizda-vm-yonetim-cont4-link
                    .hakkimizda-vm-yonetim-cont4-link-6
                        .hakkimizda-vm-yonetim-cont4-link-6-img10
                            a(href="mailto:muberra.bozaba@ibnhaldun.edu.tr") muberra.bozaba@ibnhaldun.edu.tr                        
                        //- img(src='../../../src/img/card7.png') 
                    .hakkimizda-vm-yonetim-cont4-link-7
                        .hakkimizda-vm-yonetim-cont4-link-7-img11
                            a(href="mailto:ibrahim.kulacoglu@ibnhaldun.edu.tr") ibrahim.kulacoglu@ibnhaldun.edu.tr        
                        //- img(src='../../../src/img/card11.png')                    

                .button_container
                    .button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/melike-ayşe-ağırman-634837194/','_blank')")
                    .button_container-3
                        .button_container-3-btn3
                            button.button_container-3-btn3-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/safaa-fadil-56059a1bb/','_blank')")
                .hakkimizda-vm-yonetim-cont4
                    .hakkimizda-vm-yonetim-cont4-6
                        h4.vm-dnt Sosyal Medya Yöneticisi:
                        h4#sms1.vm-dnt_mobile S. Medya Yöneticisi:
                        p Melike A. AĞIRMAN
                    .hakkimizda-vm-yonetim-cont4-7
                        h4#sms2.vm Sosyal Medya Yöneticisi:
                        p Safaa FADİL
                .hakkimizda-vm-yonetim-cont4-link
                    .hakkimizda-vm-yonetim-cont4-link-6
                        .hakkimizda-vm-yonetim-cont4-link-6-img8
                            a(href="mailto:melike.agirman@ibnhaldun.edu.tr") melike.agirman@ibnhaldun.edu.tr                        
                        //- img(src='../../../src/img/card8.png') 
                    .hakkimizda-vm-yonetim-cont4-link-7
                        .hakkimizda-vm-yonetim-cont4-link-7-img9
                            a(href="mailto:safa.fadil@ibnhaldun.edu.tr") safa.fadil@ibnhaldun.edu.tr        
                        //- img(src='../../../src/img/card9.png')                    





                .button_container
                    #bottom_btn.button_container-2
                        .button_container-2-btn2
                            button.button_container-2-btn2-btn_linkedin(onclick=" window.open('http://www.linkedin.com/in/ömer-faruk-toker-31b921146/','_blank')")                            
                .hakkimizda-vm-yonetim-cont4
                    #bottom_txt.hakkimizda-vm-yonetim-cont4-6
                        h4.vm-dnt Sosyal Medya Yöneticisi:
                        h4#smy.vm-dnt_mobile Sosyal Medya Yöneticisi:
                        p Ö. Faruk TOKER
                .hakkimizda-vm-yonetim-cont4-link
                    .hakkimizda-vm-yonetim-cont4-link-6
                        .hakkimizda-vm-yonetim-cont4-link-6-img12
                            a(href="mailto:faruk.toker@ibnhaldun.edu.tr") faruk.toker@ibnhaldun.edu.tr                        
                        //- img(src='../../../src/img/card7.png') 
    