extends ../global/masterpage.pug
block content
    .homepage
        .homepage-img
            .homepage-img-text
                h1 İbn Haldun Üniversitesi
                h2 Ekonomi  ve Finans Kulübü
            img(src="../.././img/homepage.jpeg", alt="")
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    
