extends ../global/masterpage.pug
block content
    .homepage
        .homepage-img
            .homepage-img-text
                h1 İbn Haldun Üniversitesi
                h2 Ekonomi  ve Finans Kulübü
            img(src="../.././img/homepage.jpeg", alt="")

        .homepage-ticker
            // TradingView Widget BEGIN
            .tradingview-widget-container
                .tradingview-widget-container__widget
                script(type='text/javascript' src='https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js' async='')
                        
                
        .homepage-symbol
            .tradingview-widget-container
                #tradingview_27903
                    .tradingview-widget-copyright
                        | TradingView tarafından 
                        a(href='https://tr.tradingview.com/symbols/AAPL/' rel='noopener' target='_blank')
                        span.blue-text Apple
                    script(type='text/javascript' src='https://s3.tradingview.com/tv.js')
                    script(type='text/javascript').
                        new TradingView.MediumWidget(
                        {
                        "symbols": [
                        [
                        "Amazon",
                        "NASDAQ:AMZN|12M"
                        ],
                        [
                        "Google",
                        "GOOGL"
                        ],
                        [
                        "Tesla",
                        "NASDAQ:TSLA|12M"
                        ],
                        [
                        "Alibaba",
                        "NYSE:BABA|12M"
                        ],
                        [
                        "Microsoft",
                        "MSFT"
                        ],
                        [
                        "Apple",
                        "AAPL"
                        ],
                        [
                        "Samsung",
                        "OTC:SSNLF|12M"
                        ],
                        [
                        "Huawei",
                        "SZSE:000793|12M"
                        ],
                        [
                        "ASELSAN",
                        "BIST:ASELS|12M"
                        ],
                        [
                        "Turkcell",
                        "BIST:TCELL|12M"
                        ],
                        [
                        "Koç",
                        "BIST:KCHOL|12M"
                        ],
                        [
                        "Sabancı",
                        "BIST:SAHOL|12M"
                        ],
                        [
                        "THY",
                        "BIST:THYAO|12M"
                        ],
                        [
                        "BİM",
                        "BIST:BIMAS|12M"
                        ],
                        [
                        "Arçelik",
                        "BIST:ARCLK|12M"
                        ],
                        [
                        "VESTEL",
                        "BIST:VESTL|12M"
                        ],
                        ],
                        "chartOnly": false,
                        "width": "100%",
                        "height": "400",
                        "locale": "tr",
                        "colorTheme": "light",
                        "gridLineColor": "#F0F3FA",
                        "trendLineColor": "#2196F3",
                        "fontColor": "#787B86",
                        "underLineColor": "#E3F2FD",
                        "isTransparent": false,
                        "autosize": true,
                        "container_id": "tradingview_27903"
                        }
                        );

        .homepage-fc           
            .homepage-fc-forex
                .tradingview-widget-container
                .tradingview-widget-container__widget
                script(type='text/javascript' src='https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js' async='')


            .homepage-fc-charts
                
                .homepage-fc-charts-1
                    .tradingview-widget-container
                        .tradingview-widget-container__widget
                        script(type='text/javascript' src='https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js' async='')
                            
                
                .homepage-fc-charts-2
                    .tradingview-widget-container
                        .tradingview-widget-container__widget
                        script(type='text/javascript' src='https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js' async='')

                
                //- .tradingview-widget-container
                //-     .tradingview-widget-container__widget
                //-     .tradingview-widget-copyright
                //-     a(href='https://tr.tradingview.com/symbols/USDTRY/?exchange=FX' rel='noopener' target='_blank')
                //-     script(type='text/javascript' src='https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js' async='')
                



        //- .homepage-news
        //-     div(style='font: normal 11px Arial; width: 698px; border: solid 1px #ccc; background: #fff; border-radius: 3px; box-shadow: 1px 1px 3px #ccc;')
        //-         h2(style='padding: 8px; margin: 0; height: 40px; border: 0; border-bottom: solid 1px #ccc;')
        //-             a(href='https://www.trthaber.com/')
        //-             img(src='https://www.trthaber.com/static/images/siteneEkle/logo_a_v3.png' alt='TRT Haber Haberler' style='border: none 0;')
        //-         iframe(frameborder='0' width='698' height='402' src='https://www.trthaber.com/sitene-ekle/ekonomi-7/?haberSay=15&renk=a&resimler=1')
        //-         div(style='text-align: center;line-height: 23px;border-top: solid 1px #ccc; color: #666; margin-top: 5px;box-shadow: 0 -1px 3px #ccc;')
        //-             a(style='text-decoration: none;color: #666; font: normal 11px Arial;' href='https://www.trthaber.com/') Güncel Haberler
        //-             |   
        //-             a(style='text-decoration: none;color: #666; font: normal 11px Arial;' href='https://www.trthaber.com/haber/ekonomi/') Ekonomi Haberleri


    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    
