.hakkimizda {
    display: flex;
    width: 100%;
    height: auto;

    @include mq("tablet") {
        display: flex;
        width: 100%;
        height: auto;
    }

    &-vm {
        display: flex;
        width: 100%;
        height: 8100px; //değişebilir
        flex-direction: column;
        padding-top: 40px;

        @include mq("tablet") {
            display: flex;
            width: 100%;
            height: 4340px; //değişebilir
            flex-direction: column;
            padding-top: 40px;
        }

        h2 {
            color: $color-light-blue;
            display: flex;
            justify-content: center;
        }

        h4 {
            color: $color-blue;
        }

        p {
            display: inline-block;
        }

        &-vizyon {
            width: 100%;
            height: auto;
            padding-bottom: 40px;
            padding-left: $gutter;
            padding-right: $gutter;
            text-align: center;

            h2 {
                padding-bottom: $gutter;
            }

            @include mq("tablet") {
                width: 100%;
                height: auto;
                padding-bottom: 40px;
                padding-left: $gutter;
                padding-right: $gutter;
                text-align: center;

                h2 {
                    padding-bottom: $gutter;
                }
            }
        }

        &-misyon {
            width: 100%;
            height: auto;
            padding-bottom: 40px;
            padding-left: $gutter;
            padding-right: $gutter;
            text-align: center;

            h2 {
                padding-bottom: $gutter;
            }

            @include mq("tablet") {
                width: 100%;
                height: auto;
                padding-bottom: 40px;
                padding-left: $gutter;
                padding-right: $gutter;
                text-align: center;

                h2 {
                    padding-bottom: $gutter;
                }
            }
        }

        &-yonetim {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            // padding-left: $gutter;
            // padding-right: $gutter;

            @include mq("tablet") {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                padding-left: $gutter;
                padding-right: $gutter;
            }

            h2 {
                padding-bottom: $gutter;
            }

            p {
                padding-left: 4px;

                @include mq("tablet") {
                    padding-left: 6px;
                }
            }

            &-cont1 {
                display: flex;
                width: 100%;
                height: auto;
                flex-direction: column;
                margin-top: -50px;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: auto;
                    flex-direction: column;
                    margin-top: -50px;
                }

                &-1 {
                    display: flex;
                    width: 100%;
                    height: auto;
                    justify-content: center;

                    @include mq("tablet") {
                        display: flex;
                        width: 100%;
                        height: auto;
                        justify-content: center;
                    }
                }

                &-link {
                    display: flex;
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    padding-bottom: $gutter;

                    @include mq("tablet") {
                        display: flex;
                        width: 100%;
                        height: auto;
                        justify-content: center;
                        padding-bottom: $gutter;
                    }

                    &-1 {
                        display: flex;
                        width: 50%;
                        height: 500px;
                        justify-content: center;

                        @include mq("tablet") {
                            display: flex;
                            width: 50%;
                            height: 500px;
                            justify-content: center;
                        }

                        &-img {
                            display: flex;
                            position: absolute;
                            width: 280px;
                            height: 490px;
                            margin-left: 0px;
                            // background-color: red;
                            background-image: url(../img/card1.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            // position: absolute;

                            @include mq("tablet") {
                                display: flex;
                                position: relative;
                                width: 280px;
                                height: 490px;
                                // margin-left: 50px;
                                // background-color: red;
                                background-image: url(../img/card1.png);
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;

                            }
                        }

                        a {
                            display: flex;
                            position: relative;
                            justify-content: center;
                            width: 50px;
                            height: 20px;
                            top: 360px;
                            // left: -162px;
                            left: 118px;
                            color: white;
                            font-size: $font-size-small;
                            font-style: italic;
                            

                            @include mq("tablet") {
                                display: flex;
                                position: relative;
                                justify-content: center;
                                width: 50px;
                                height: 20px;
                                top: 360px;
                                left: 118px;
                                color: white;
                                font-size: $font-size-small;
                                font-style: italic;
                            }

                            &:hover {
                                color: $color-light-blue;
                            }
                            
                        }

                        // img {
                        //     display: flex;
                        //     position: relative;
                        //     width: 280px !important;
                        //     height: 490px;
                        //     margin-left: 50px;

                        //     @include mq("tablet") {
                        //         display: flex;
                        //         position: relative;
                        //         width: 280px !important;
                        //         height: 490px;
                        //         margin-left: 50px;
                        //     }
                        // }
                    }
                }
            }

            &-cont2,
            &-cont3,
            &-cont4 {
                display: flex;
                width: 100%;
                height: auto;
                // flex-direction: row;
                flex-direction: column;
                margin-top: -50px;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: auto;
                    flex-direction: row;
                    // flex-direction: column;
                    margin-top: -50px;
                }

                &-2,
                &-3,
                &-4,
                &-5,
                &-6,
                &-7 {
                    display: flex;
                    width: 100%;
                    height: auto;
                    justify-content: center;

                    .vm-dnt {
                        display: none;
                    }

                    @include mq("tablet") {
                        display: flex;
                        width: 50%;
                        height: auto;
                        justify-content: center;

                        .vm-dnt {
                            display: flex;
                        }

                        .vm-dnt_mobile {
                            display: none;
                        }
                    }
                }

                &-link {
                    display: flex;
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    padding-bottom: $gutter;
                    flex-direction: column;

                    @include mq("tablet") {
                        display: flex;
                        width: 100%;
                        height: auto;
                        justify-content: center;
                        padding-bottom: $gutter;
                        flex-direction: row;

                    }

                    &-2,
                    &-3,
                    &-4,
                    &-5,
                    &-6,
                    &-7 {
                        display: flex;
                        width: 100%;
                        height: 500px;
                        //flex-direction: column;
                        justify-content: center;
                        justify-items: center;

                        @include mq("tablet") {
                            display: flex;
                            width: 50%;
                            height: 500px;
                            //flex-direction: column;
                            justify-content: center;
                            justify-items: center;
                        }                   

                        a {
                            display: flex;
                            position: relative;
                            justify-content: center;
                            width: 50px;
                            height: 20px;
                            top: 360px;
                            left: 118px;
                            color: white;
                            font-size: $font-size-small;
                            font-style: italic;

                            @include mq("tablet") {
                                display: flex;
                                position: relative;
                                justify-content: center;
                                width: 50px;
                                height: 20px;
                                top: 360px;
                                left: 118px;
                                color: white;
                                font-size: $font-size-small;
                                font-style: italic;
                            }

                            &:hover {
                                color: $color-light-blue;
                            }
                        }

                        // img {
                        //     display: flex;
                        //     width: 280px !important;
                        //     height: 490px;
                        //     position: relative;
                        //     margin-left: 50px;


                        //     @include mq("tablet") {
                        //         display: flex;
                        //         width: 280px !important;
                        //         height: 490px;
                        //         position: relative;
                        //         margin-left: 50px;
                        //     }
                        // }
                    }

                    &-2,
                    &-4,
                    &-6 {
                        margin-bottom: 60px;
                        @include mq("tablet") {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &-cont2,
            &-cont3,
            &-cont4 {
                &-3, &-5, &-7 {
                    transform: translateY(535px);
                    @include mq("tablet") {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}


.button_container {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: transparent;
    flex-direction: column;
    position: relative;
    align-items: center;

    @include mq("tablet") {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: transparent;
        flex-direction: row;
    }

    &-1 {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        background-color: transparent;

        @include mq("tablet") {
            display: flex;
            width: 100%;
            height: 50px;
            justify-content: center;
            background-color: transparent;
        }

        &-btn1 {
            display: flex;
            width: 200px;
            height: 40px;
            background-color: #0a75b5;
            margin-top: 410px;
            margin-left: 4px;
            z-index: 1;
            &:hover {
                border: 1px solid $color-light-blue;
            }

            @include mq("tablet") {
                display: flex;
                width: 200px;
                height: 40px;
                background-color: #0a75b5;
                margin-top: 410px;
                margin-left: 4px;
                z-index: 1;
                &:hover {
                    border: 1px solid $color-light-blue;
                }
            }

            &-btn_linkedin {
                display: flex;
                width: 100%;
                height: 100%;
                background: url(../../src/img/linkedin-logo.png);
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: center;
                outline: none;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    background: url(../../src/img/linkedin-logo.png);
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: center;
                    outline: none;
                }
            }
        }
    }

    &-2 {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-top: 18px;

        @include mq("tablet") {
            display: flex;
            width: 50%;
            height: 100%;
            margin-top: 0;
            justify-content: center;
        }

        &-btn2 {
            display: flex;

            width: 200px;
            height: 40px;
            background-color: #0a75b5;
            margin-top: 410px;
            margin-left: 4px;
            z-index: 1;
            &:hover {
                border: 1px solid $color-light-blue;
            }

            @include mq("tablet") {
                display: flex;
                width: 200px;
                height: 40px;
                background-color: #0a75b5;
                margin-top: 410px;
                margin-left: 4px;
                z-index: 1;
                &:hover {
                    border: 1px solid $color-light-blue;
                }
            }

            &-btn_linkedin {
                display: flex;
                width: 100%;
                height: 100%;
                background: url(../../src/img/linkedin-logo.png);
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: center;
                outline: none;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    background: url(../../src/img/linkedin-logo.png);
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: center;
                    outline: none;
                }
            }
        }
    }

    &-3 {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: transparent;
        justify-content: center;
        position: absolute;
        top: 578px;


        @include mq("tablet") {
            display: flex;
            width: 50%;
            height: 100%;
            margin-top: 0;
            background-color: transparent;
            justify-content: center;
            position: static;
        }

        &-btn3 {
            display: flex;
            width: 200px;
            height: 40px;
            background-color: #0a75b5;
            margin-top: 410px;
            margin-left: 4px;
            z-index: 1;
            &:hover {
                border: 1px solid $color-light-blue;
            }

            @include mq("tablet") {
                display: flex;
                width: 200px;
                height: 40px;
                background-color: #0a75b5;
                margin-top: 410px;
                margin-left: 4px;
                z-index: 1;
                &:hover {
                    border: 1px solid $color-light-blue;
                }
            }

            &-btn_linkedin {
                display: flex;
                width: 100%;
                height: 100%;
                background: url(../../src/img/linkedin-logo.png);
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: center;
                outline: none;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    background: url(../../src/img/linkedin-logo.png);
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: center;
                    outline: none;
                }
            }
        }
    }

}





.hakkimizda-vm-yonetim-cont2-link-2-img2 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont2-link-3-img3 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont3-link-4-img4 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card4.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont3-link-5-img5 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card5.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont4-link-6-img6 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card6.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont4-link-7-img7 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card10.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card10.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont4-link-6-img8 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card8.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont4-link-7-img9 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card9.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont4-link-6-img10 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card7.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont4-link-7-img11 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card11.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card11.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont4-link-6-img12 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card12.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card12.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hakkimizda-vm-yonetim-cont4-link-7-img13 {
    display: flex;
    position: absolute;
    width: 280px;
    height: 490px;
    margin-left: 0px;
    // background-color: red;
    background-image: url(../img/card13.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("tablet") {
        display: flex;
        position: relative;
        width: 280px;
        height: 490px;
        background-image: url(../img/card13.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#bottom_btn, #bottom_txt {
    width: 100%;
}
#bottom_txt {
    margin-bottom: 20px;
    @include mq("tablet") {
        margin-bottom: 0;
    }
}

#about_mt {
    margin-top: 20px;
}