.iletisim {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;

    @include mq("tablet") {
        display: flex;
        width: 100%;
        height: 600px;
        justify-content: center;
    }

    &-infos {
        display: flex;
        width: 90%;
        height: 100%;
        flex-direction: column;
        
        @include mq("tablet") {
            display: flex;
            width: 50%;
            height: 100%;
            flex-direction: column;
        }

        &-inclusive {
            display: flex;
            flex-direction: column;
            height: 40%;
            width: 100%;
            margin: 40px 0;
            justify-content: space-around;

            @include mq("tablet") {
                display: flex;
                flex-direction: column;
                height: 40%;
                width: 100%;
                margin: 40px 0;
                justify-content: space-around;
            }
            
            

            a {
                font-size: $font-size-medium;
                padding-left: $gutter;
                @include mq("tablet") {
                    font-size: $font-size;
                    padding-left: $gutter;
                }
            }

            a:hover {
                color: $color-light-blue;
            }
           

            &-address {
                display: flex;
                width: 100%;
                height: 10%;
                align-items: center;
                //justify-content: center;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 10%;
                    align-items: center;
                }
                
                &-icon {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    // margin-left: 5px;
                    // margin-right: 10px;

                    @include mq("tablet") {
                        display: flex;
                        width: 40px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
                    }
                }
                i {
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 34px;
                    @include mq("tablet") {
                        font-size: 40px;
                    }
                }
            }

            &-email {
                display: flex;
                width: 100%;
                height: 10%;
                align-items: center;
                
                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 10%;
                    align-items: center;
                }

                &-icon {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;

                    @include mq("tablet") {
                        display: flex;
                        width: 40px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
                    }
                }
                i {
                    font-size: 26px;
                    @include mq("tablet") {
                        font-size: 32px;
                    }
                }               
            }

            &-phone {
                display: flex;
                width: 100%;
                height: 10%;
                align-items: center;
                
                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 10%;
                    align-items: center;
                }

                &-icon {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;

                    @include mq("tablet") {
                        display: flex;
                        width: 40px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
                    }
                }
                i {
                    font-size: 34px;
                    @include mq("tablet") {
                        font-size: 40px;
                    }
                }               
            }
            
            

        }

        &-maps {
            display: flex;
            width: 100%;
            height: 40%;

            @include mq("tablet") {
                display: flex;
                width: 100%;
                height: 40%;
            }
        }
    }

    &-img {
        display: none;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-left: $gutter;
        justify-content: space-between;

        @include mq("tablet") {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding-left: $gutter;
            justify-content: space-between;
        }

        &-gate {
            display: flex;
            width: 100%;
            height: 40%;
            margin-top: 40px;

            img {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }

        &-campus {
            display: flex;
            width: 100%;
            height: 40%;
            margin-bottom: 40px;

            img {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }
    }
}