.iletisim {
    display: flex;
    width: 100%;
    height: 1200px;
    justify-content: center;

    @include mq("tablet") {
        display: flex;
        width: 100%;
        height: 900px;
        justify-content: center;
    }

    &-infos {
        display: flex;
        width: 90%;
        height: 100%;
        flex-direction: column;
        
        @include mq("tablet") {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
        }

        &-inclusive {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin: 40px 0;
            justify-content: center;
            align-items: center;

            @include mq("tablet") {
                display: flex;
                flex-direction: row;
                height: 50%;
                width: 100%;
                margin: 40px 0;
                justify-content: space-between;
                // background-color: red;
            }

            #iletisim_h1 {
                color: $color-blue;
                text-align: center;
            }
            &-left {
                width: 100%;
                height: auto;
                // background-color: pink;
                padding-top: 25px;

                @include mq("tablet") {
                    width: 50%;
                }

                &-form {
                    display: inherit;
                    width: 100%;
                    height: auto;
                    // background-color: pink;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // background-color: pink;

                    @include mq("tablet") {
                        width: 50%;
        
                    }
                

                    h1 {
                        color: $color-blue;
                        text-align: center;

                        @include mq("tablet") {
                            color: $color-blue;
                        }
                    }

                    &-items {
                        display: block;
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        // border: 5px solid $color-blue;
                        // background-color: red;
                        padding-left: 0;
                        padding-right: 0;

                        @include mq("tablet") {
                            padding-left: 20px;
                            padding-right: 20px;
                            width: 80%;
                        }
                        
                        
                        input, textarea {
                            display: inherit;
                            width: 100%;
                            // max-width: 100%;
                            border: 1px solid $color-light-blue;
                            font-size: $font-size-medium;
                            height: 40px;
                            margin-bottom: 20px;
                            border-radius: $border-radius;
                            padding-left: 10px;
                            color: $color-blue;
                            background-color: transparent;
                            &::placeholder {
                                font-family: $font-family;
                                color: $color-blue;
                                // padding-top: 5px;
                            }
                        }
                        input:first-child {
                            margin-top: 20px;
                        }
                        input {
                            padding-top: 5px;
                            &::placeholder {
                                padding-top: 5px;
                            }
                        }
                        textarea {
                            resize: none;
                            max-width: 100%;
                            height: 100px;
                            // padding: 10px;
                            padding-top: 10px;

                        }

                        button {
                            display: block;
                            width: 150px;
                            height: 45px;
                            margin-left: auto;
                            margin-right: auto;
                            color: white;
                            background-color: $color-blue;
                            border: 1px solid $color-blue;
                            font-weight: bold;
                            border-radius: $border-radius;
                            transition: 0.3s;
                            margin-bottom: 40px;

                            &:hover {
                                transition: 0.3s;
                                background-color: $color-light-blue;
                            }

                        }
                    }
                    
                }
            }

            &-right {
                display: flex;
                width: 100%;
                height: auto;
                // background-color: lightblue;
                flex-direction: column;
                justify-content: center;

                @include mq("tablet") {
                    width: 50%;
                }



                a {
                    font-size: $font-size-medium;
                    padding-left: $gutter;
                    @include mq("tablet") {
                        font-size: $font-size;
                        padding-left: $gutter;
                    }
                }
    
                a:hover {
                    color: $color-light-blue;
                }
               
    
                &-address {
                    display: flex;
                    width: 100%;
                    height: 10%;
                    align-items: center;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    margin-left: 15px;
                    margin-right: 40px;

                    //justify-content: center;
    
                    @include mq("tablet") {
                        display: flex;
                        width: 100%;
                        height: 10%;
                        align-items: center;
                    }
                    
                    &-icon {
                        display: flex;
                        width: 40px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
                        // margin-left: 5px;
                        // margin-right: 10px;
    
                        @include mq("tablet") {
                            display: flex;
                            width: 40px;
                            height: 40px;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    i {
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 34px;
                        color: $color-blue;
                        @include mq("tablet") {
                            font-size: 40px;
                            color: $color-blue;
                        }
                    }
                }
    
                &-email {
                    display: flex;
                    width: 100%;
                    height: 10%;
                    align-items: center;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    margin-left: 15px;

                    
                    @include mq("tablet") {
                        display: flex;
                        width: 100%;
                        height: 10%;
                        align-items: center;
                    }
    
                    &-icon {
                        display: flex;
                        width: 40px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
    
                        @include mq("tablet") {
                            display: flex;
                            width: 40px;
                            height: 40px;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    i {
                        font-size: 26px;
                        color: $color-blue;
                        @include mq("tablet") {
                            font-size: 32px;
                            color: $color-blue;
                        }
                    }               
                }
    
                &-phone {
                    display: flex;
                    width: 100%;
                    height: 10%;
                    align-items: center;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    margin-left: 15px;
                    
                    @include mq("tablet") {
                        display: flex;
                        width: 100%;
                        height: 10%;
                        align-items: center;
                    }
    
                    &-icon {
                        display: flex;
                        width: 40px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
    
                        @include mq("tablet") {
                            display: flex;
                            width: 40px;
                            height: 40px;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    i {
                        font-size: 34px;
                        color: $color-blue;
                        @include mq("tablet") {
                            font-size: 40px;
                            color: $color-blue;
                        }
                    }               
                }
            }
            
            

            
            
            

        }

        &-maps {
            display: flex;
            width: 100%;
            height: 40%;
            margin-bottom: 40px;


            @include mq("tablet") {
                display: flex;
                width: 100%;
                height: 45%;
                margin-bottom: 40px;
            }
        }
    }

    &-img {
        display: none;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-left: $gutter;
        justify-content: space-between;

        @include mq("tablet") {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding-left: $gutter;
            justify-content: space-between;
        }

        &-gate {
            display: flex;
            width: 100%;
            height: 40%;
            margin-top: 40px;

            img {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }

        &-campus {
            display: flex;
            width: 100%;
            height: 40%;
            margin-bottom: 40px;

            img {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }
    }
}