.homepage {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;

    @include mq("tablet") {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
    }


    &-img {
        //display: flex;
        width: 100%;
        height: 550px;

        .homepage_img {
            display: none;
        }

        @include mq("tablet") {
            width: 100%;
            height: 550px;

            .homepage_img {
                display: flex;
            }

            .homepage_mobile {
                display: none;
            }
        }

        &-text {
            display: flex;
            width: 100%;
            height: 300px;
            z-index: 2;
            background-color: transparent;
            flex-direction: column;
            text-align: center;

            @include mq("tablet") {
                display: flex;
                width: 100%;
                height: 300px;
                z-index: 2;
                background-color: transparent;
                flex-direction: column;
                text-align: center;
            }

            .slogan_mobile {
                display: flex;
                width: 100%;                                   
                padding-top: 40px;
                justify-content: center;   
                font-size: 24px;             
                @include mq("tablet") {
                    display: none;
                }
            }

            .slogan {
                display: none;
                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    padding-top: 25px;
                    justify-content: center;
                    font-size: 30px;
                }
            }

            h4 {
                display: flex;
                width: 100%;
                font-size: 25px;
                padding-top: 60px;
                justify-content: center;
                @include mq("tablet") {
                    display: none;
                }
            }

            h5 {
                display: flex;
                width: 100%;
                font-size: 40px;
                color: white;
                justify-content: center;
                padding-top: 20px;

                @include mq("tablet") {
                    display: none;
                }
            }

            h2 {
                display: none;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    font-size: 50px;
                    justify-content: center;
                    padding-top: 20px;
                }
            }

            h1 {
                display: none;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    padding-top: 90px;
                    color: white;
                }
            }
        }

        img {
            position: relative;
            width: 100%;
            height: 550px;
            filter: brightness(50%);
            //margin-top: -100px;
            transform: translateY(-300px);
            z-index: -2;

            @include mq("tablet") {
                position: relative;
                width: 100%;
                height: 550px;
                filter: brightness(50%);
                //margin-top: -100px;
                transform: translateY(-300px);
                z-index: -2;
            }
        }
    }

    &-ticker {
        padding-top: 20px;

        @include mq("tablet") {
            padding-top: 50px;
        }
    }

    &-fc {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-top: 20px;

        @include mq("tablet") {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            padding-top: 50px;
        }

        &-forex {
            display: flex;
            width: 100%;
            height: 400px;

            @include mq("tablet") {
                display: flex;
                width: 69%;
                height: 400px;
            }
        }


        &-charts {
            display: flex;
            width: 100%;
            margin-left: 0;
            height: 400px;
            flex-direction: column;
            justify-content: space-between;

            @include mq("tablet") {
                display: flex;
                width: 29%;
                margin-left: 2%;
                height: 400px;
                flex-direction: column;
                justify-content: space-between;
            }

            &-1 {
                display: flex;
                width: 100%;
                height: 188px;
                margin-top: 20px;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 188px;
                    margin-top: 0;
                }
            }

            &-2 {
                display: flex;
                width: 100%;
                height: 188px;
                margin-top: 20px;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 188px;
                    margin-top: 0px;
                }
            }
        }

    }


    &-slider {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include mq("tablet") {
            display: block;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .slider {

        &-1,
        &-2,
        &-3,
        &-4 {
            margin-top: 20px;
            width: 80%;
            height: 400px;
            margin-right: $gutter;
            background-color: #fcfcfc;
            border: 1px solid #ddd;
            padding: 20px;

            @include mq("tablet") {
                margin-top: 50px;
                width: 70%;
                height: 400px;
                margin-right: $gutter;
                background-color: #fcfcfc;
                border: 1px solid #ddd;
                padding: 40px;
            }

            &-blog_flc {
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;

                @include mq("tablet") {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                }

                &-top {
                    display: inherit;
                    width: 100%;
                    height: 8%;

                    @include mq("tablet") {
                        display: inherit;
                        width: 100%;
                        height: 8%;
                    }

                    &-name {
                        display: inherit;
                        width: 60%;
                        height: 100%;
                        font-size: 15px;
                        color: $color-light-blue;
                        font-weight: bold;
                        flex-direction: row;

                        @include mq("tablet") {
                            display: inherit;
                            width: 65%;
                            height: 100%;
                            font-size: 15px;
                            color: $color-light-blue;
                            font-weight: bold;
                            flex-direction: row;
                        }
                    }

                    &-date {
                        display: inherit;
                        width: 40%;
                        height: 100%;
                        font-size: 15px;
                        color: $color-light-blue;
                        font-weight: bold;
                        justify-content: flex-end;
                        flex-direction: row;

                        @include mq("tablet") {
                            display: inherit;
                            width: 35%;
                            height: 100%;
                            font-size: 15px;
                            color: $color-light-blue;
                            font-weight: bold;
                            justify-content: flex-end;
                            flex-direction: row;
                        }
                    }
                }

                &-bot {
                    display: inherit;
                    width: 100%;
                    height: 100%;
                    //background-color: #ddd;
                    text-align: justify;
                    flex-direction: column;

                    @include mq("tablet") {
                        display: inherit;
                        width: 100%;
                        height: 100%;
                        //background-color: #ddd;
                        text-align: justify;
                        flex-direction: column;
                    }

                    h2 {
                        color: $color-blue;
                        display: none;

                        @include mq("tablet") {
                            display: flex;
                        }
                    }

                    h3 {
                        color: $color-blue;
                        display: flex;
                        font-size: 18px;

                        @include mq("tablet") {
                            display: none;
                        }
                    }

                    &-title {
                        margin-bottom: 15px;

                        @include mq("tablet") {
                            margin-bottom: 20px;
                        }
                    }

                    &-text {
                        display: none;

                        @include mq("tablet") {
                            font-size: $font-size;
                            display: inline-block;
                        }
                    }

                    &-text_mobile {
                        font-size: $font-size-medium;
                        display: inline-block;

                        @include mq("tablet") {
                            display: none;
                        }
                    }

                    &-button {
                        display: flex;
                        width: auto;
                        padding-left: 15px;
                        padding-right: 15px;
                        height: $finger-size;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: auto;
                        text-align: center;
                        background-color: $color-blue;
                        border-radius: $border-radius;

                        @include mq("tablet") {
                            display: flex;
                            width: auto;
                            padding-left: 15px;
                            padding-right: 15px;
                            height: $finger-size;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: auto;
                            text-align: center;
                            background-color: $color-blue;
                            border-radius: $border-radius;
                        }

                        &:hover {
                            background-color: $color-light-blue;
                            transition: 0.2s;
                        }

                        p {
                            margin: auto;
                            color: white;
                            font-weight: bold;

                            @include mq("tablet") {
                                margin: auto;
                                color: white;
                                font-weight: bold;
                            }
                        }
                    }
                }


            }
        }
    }
}


.flickity-prev-next-button {
    width: 0;
    height: 0;

    @include mq("tablet") {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
}

.flickity-button {
    background: transparent;

    &:hover {
        background: $color-light-blue;
        transition: 0.2s;
    }

    &-icon {
        fill: $color-blue;
    }
}