footer.Footer
    .Footer-color-top
        .container
            .Footer-top
                .Footer-top-logo
                    img(src="../../../src/img/ihulogobeyaz.svg")
                    p Başak Mah. Ordu Cad.
                    p F-05 Blok No:3 P.K. 34480 Başakşehir/İST.
                .Footer-top-contact
                    h3.title Aramıza katılmak 
                    h3.title ister misiniz? 
                    h2.midtitle Bizimle iletişime geçin!
                    h4.title-mobile Aramıza katılmak 
                    h4.title-mobile ister misiniz? 
                    h3.midtitle-mobile Bizimle iletişime geçin!

                    p İbn Haldun Üniversitesi
                    p Başakşehir Yerleşkesi
                    p info@ihueconfin.com
                    //- mailto olacak
                    //- p Telefon: 1231321321

                    
                .Footer-top-shortlinks
                    a(href="../pages/hakkimizda.pug") Hakkımızda 
                    a(href="../pages/blog.pug") Blog
                    a(href="../pages/etkinlikler.pug") Etkinlikler
                    a(href="../pages/iletisim.pug") İletişim
    .Footer-hr
        .container
            hr 

    .Footer-color-mid
        .container   
            .Footer-middle  
                button.Footer-middle-btn(onclick=" window.open('http://www.linkedin.com/company/ihueconfin','_blank')")
                    i.fa.fa-linkedin
                button.Footer-middle-btn(onclick=" window.open('http://www.twitter.com/ihueconfin','_blank')")
                    i.fa.fa-twitter
                button.Footer-middle-btn(onclick=" window.open('http://www.instagram.com/ihueconfin','_blank')")
                    i.fa.fa-instagram
                button.Footer-middle-btn(onclick=" window.open('https://www.facebook.com/IHU-Ekonomi-ve-Finans-Kul%C3%BCb%C3%BC-101923798374067','_blank')")
                    i.fa.fa-facebook
                button.Footer-middle-btn(onclick=" window.open('https://www.youtube.com/channel/UCgQ-_L1Q8kf6JtgC4pAFAHg/featured','_blank')")
                    i.fa.fa-youtube-play

                //- button(onclick="window.open('http://www.twitter.com')", type='button') www.example.com
                
    .Footer-color-bot        
        .container    
            .Footer-bottom            
                p © 2020 | İbn Haldun Üniversitesi Ekonomi ve Finans Kulübü | Tüm hakları saklıdır.
    