footer.Footer
    .Footer-color
        .container
            .Footer-top
                .Footer-top-logo
                    img(src="../../../src/img/ihulogobeyaz.svg")
                .Footer-top-contact
                    h2
                        b Bizimle iletişime geçin!
                .Footer-top-shortlinks
                    a(href="") link
                    a(href="") link
                    a(href="") link
            .Footer-middle            
                p selam
            .Footer-bottom            
                p merhaba
    