footer.Footer
    .Footer-color-top
        .container
            .Footer-top
                .Footer-top-logo
                    img(src="../../../src/img/ihulogobeyazen.svg")
                    p Basak Mah. Ordu Cad.
                    p F-05 Blok No:3 P.K. 34480 Basaksehir/IST.
                .Footer-top-contact
                    h3.title Would you like to 
                    h3.title join us? 
                    h2.midtitle Contact us!
                    h4.title-mobile Would you like to 
                    h4.title-mobile join us? 
                    h3.midtitle-mobile Contact us!

                    p Ibn Haldun University
                    p Basaksehir Campus
                    p info@ihueconfin.com
                    //- mailto olacak
                    //- p Telefon: 1231321321

                    
                .Footer-top-shortlinks
                    a(href="../pages/about.pug") About 
                    a(href="../pages/blogs.pug") Blog
                    a(href="../pages/events.pug") Events
                    a(href="../pages/contact.pug") Contact
    .Footer-hr
        .container
            hr 

    .Footer-color-mid
        .container   
            .Footer-middle  
                button.Footer-middle-btn(onclick=" window.open('http://www.linkedin.com/company/ihueconfin','_blank')")
                    i.fa.fa-linkedin
                button.Footer-middle-btn(onclick=" window.open('http://www.twitter.com/ihu_econfin','_blank')")
                    i.fa.fa-twitter
                button.Footer-middle-btn(onclick=" window.open('http://www.instagram.com/ihueconfin','_blank')")
                    i.fa.fa-instagram
                button.Footer-middle-btn(onclick=" window.open('https://www.facebook.com/IHU-Ekonomi-ve-Finans-Kul%C3%BCb%C3%BC-101923798374067','_blank')")
                    i.fa.fa-facebook
                button.Footer-middle-btn(onclick=" window.open('https://www.youtube.com/channel/UCgQ-_L1Q8kf6JtgC4pAFAHg/featured','_blank')")
                    i.fa.fa-youtube-play

                //- button(onclick="window.open('http://www.twitter.com')", type='button') www.example.com
                
    .Footer-color-bot        
        .container    
            .Footer-bottom            
                p © 2020 | Ibn Haldun University Economy and Finance Club | All rights reserved. | 
                a#kvkk_en(href="../pages/kvkk-aydinlatma-metni.pug") Aydınlatma Metni
    