header.Header
    .container
        a.Header-logo(href='../pages/index.pug')
            .Header-logo-logo
                img(src='../../../src/img/sadecelogo.svg')
            .Header-logo-metin
                img(src='../../../src/img/sadecemetin.svg')
            //- img(src='../../../src/img/svglogobeyaz.svg')
        
         
        .Header-lang-mobile
            a.Header-menu-lang-tr(href="../pages/index.pug")
                img(src="../../../src/img/turkey.svg")
            a.Header-menu-lang-uk(href="")
                img(src="../../../src/img/us.svg")
        
        
        button.Header-switch(type='button')
            svg.icon.icon-menu
                use(xlink:href='#icon-menu')

        .Header-menu
            .Header-menu-pages
                a(href='../pages/hakkimizda.pug') Hakkımızda
                a(href='../pages/blog.pug') Blog
                a(href='../pages/etkinlikler.pug') Etkinlikler
                a(href='../pages/iletisim.pug') İletişim
            .Header-menu-lang                
                a.Header-menu-lang-tr(href="")
                    img(src="../../../src/img/turkey.svg")
                a.Header-menu-lang-uk(href="")
                    img(src="../../../src/img/us.svg")