doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title IHU Ekonomi ve Finans Kulübü
    body
    block content


    script(src="../../scripts/main.js")